<h2>Edit {{route.name}}</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/list/{{route.id}}/edit" method="post" enctype="multipart/form-data"> 
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" value="{{route.name}}" />
        </label>
      </div>

      <div class="form-group">
        <label>Grade:
          <input type="number" name="grade" class="form-control" value="{{route.grade}}"/>
        </label>
      </div>
 
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control">{{route.description}}</textarea>
        </label>
      </div>
 
      <div class="form-group">
        <label>Pictures:
          <input type="file" name="climbing-route-pictures" class="form-control-file" multiple/>
          {{#each route.pictures}}
          <input type="text" name="existingPictures" hidden value="{{this}}"/>
          {{/each}}
        </label>
      </div>

      <fieldset>
        <legend>Equipment:</legend>

        <div>
            <input type="checkbox" id="crashpad" name="equipment"  value="crashpad"/>
            <label for="crashpad">Crashpad</label>
        </div>

        <div>
            <input type="checkbox" id="harness" name="equipment"  value="harness" />
            <label for="harness" value="harness">Harness</label>
        </div>

        <div>
            <input type="checkbox" id="rope" name="equipment" value="rope" />
            <label for="rope" value="rope">Rope</label>
        </div>
        </fieldset>
 
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>