<h2 class="signup-title">Edit {{route.name}}</h2>
<div class="row">
  <div class="signup-container">
    <form action="/list/{{route.id}}/edit" method="post" enctype="multipart/form-data"> 
      <div class="form-group signup">
          <input type="text" name="name" class="form-control mb-3" placeholder="Name"/>
      </div>

      <div class="input-group mb-3 form-group">
        <select name="grade" class="form-select form-control" id="grade">
          <option selected>Grade</option>
          <option value="0">V0</option>
          <option value="1">V1</option>
          <option value="2">V2</option>
          <option value="3">V3</option>
          <option value="4">V4</option>
          <option value="5">V5</option>
          <option value="6">V6</option>
          <option value="7">V7</option>
          <option value="8">V8</option>
          <option value="9">V9</option>
          <option value="10">V10</option>
          <option value="11">V11</option>
          <option value="12">V12</option>
          <option value="13">V13</option>
          <option value="14">V14</option>
          <option value="15">V15</option>
          <option value="16">V16</option>
          <option value="17">V17</option>
        </select>
      </div>

 
      <div class="form-group">
          <textarea name="description" cols="40" rows="4" class="form-control" placeholder="Description"></textarea>
      </div>
      <a href="/edit/pictures/{{route._id}}" class="btn btn-outline-warning mt-3">Edit Pictures</a>
        <h4 class="mt-3">Equipment</h4>
        {{#each allEquipments}}
            {{#ifIn this ../route.equipment}}
              <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" id={{this}} name="equipment"  value={{this}} checked/>
                <label class="form-check-label" for={{this}}>{{this}}</label>
              </div>
              {{else}}
               <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" id={{this}} name="equipment"  value={{this}} />
                <label class="form-check-label" for={{this}}>{{this}}</label>
              </div>
            {{/ifIn}}
        {{/each}}
 
      <button type="submit" class="btn btn-outline-danger mt-2">Edit</button>
      <a href="/list/{{route.id}}" class="btn btn-outline-info mt-2 ms-3">Back</a>
    </form>
  </div>
</div>