<h1>{{route.name}}</h1>
<h6>Grade: {{route.grade}}</h6>
<h5>Pictures:</h5>
{{#each route.pictures}}
    <img src="{{this}}"/>
{{/each}}
<p><b>Description: </b>{{route.description}}</p>
<ul>
    {{#each route.equipment}}
        <li>{{this}}</li>
    {{/each}}
</ul>
{{#if user}}
<a href="/list/{{route._id}}/edit" class="btn btn-outline-dark btn-sm">Edit Route</a>
    <form action='/list/{{route._id}}/delete' method='post' style="margin:0">
        <button class="btn btn-outline-dark btn-sm" type='submit'>Delete Route</button>
    </form>
{{#if isFavorite}}
<form action="/favorites/{{route._id}}/remove" method="post">
    <button type="submit">Remove from favorites</button>
</form>
{{else}}
<form action="/favorites/{{route._id}}" method="post">
    <button type="submit">Add to favorites</button>
</form>
{{/if}}
<!-- Review Section -->
<h4>Leave a Review!</h4>
<!-- Form to Create a Review -->

<form action="/review/create/{{route._id}}" method="post">
    <input type="hidden" name="user" value="{{user._id}}">
    <label for="content">Content</label>
    <textarea name="content" id="content" cols="30" rows="5"></textarea>
    <button type="submit">Create the review</button>
</form>
<br>
{{/if}}
<!-- Display all the Reviews of the Book that we're seeing -->
<h5>Reviews:</h5>
    {{#each route.reviews}}
    <div>
        <!-- Actually displaying the review -->
        <p><span>By {{user.username}}</span>: {{content}}</p>
        <!-- Deleting the Review -->
        {{#eq user._id ../user._id}}
        <form action="/review/delete/{{_id}}" method="post">
            <button type="submit">Delete</button>
        </form>
        {{/eq}}
    </div>
    {{/each}}
<br>
<a href="/list">Return</a>
