<section class="container">
    <h1>Climbing Route list</h1>
    <hr>
    <a href="/list/create">Create route</a>
    <hr>
    <div class="row">
        {{#each routes}}
            <div class="col-md-4">
                <article class="route">
                    <h2>{{name}}</h2>
                    <hr>
                    <p>Grade: {{grade}}</p>
                    <p>Description: {{description}}</p>
                    <img src="{{pictures.[0]}}"/>
                    <div class="btn-group" style="width: 100%">
                        <a href="/list/{{_id}}" class="btn btn-outline-dark btn-sm">More info</a>
                    </div>
                </article>
            </div>
        {{/each}}
    </div>
</section>