<h1 class="signup-title">Edit Pictures</h1>
<div class="container d-flex justify-content-center">
<form action="/list/{{id}}/edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>
            <input type="file" name="climbing-route-pictures" class="form-control-file form-control" multiple/>
            <button type="submit" class="btn btn-outline-success mt-3">Add</button>
            <a href="/list/{{_id}}/edit" class="btn btn-outline-info mt-3 ms-3">Back</a>
        </label>
    </div>
</form>
</div>

<div class="delete-pictures">
<form action="/deletePictures/{{_id}}" method="get">
    <div class="d-flex flex-direction-row justify-content-start">
        {{#each pictures}}
        <div class="card bg-dark border-info card-delete" style="width: 18rem;">
            <img class="card-img-top" src="{{this}}" alt="Card image cap" height="350px"/>
            <input type="checkbox" name="imgUrl" value="{{this}}" class="checkbox form-check-input check-delete">
        </div>
        {{/each}}
    </div>
    <button class="btn btn-outline-danger ms-4" type="submit">Delete</button>
</form>
</div>